@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #7BDAF3;
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
}
.add {
    background-color: #9ecB62;
    margin: 2rem auto;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
}
.note {
    margin: 20px;
    width: 400px;
    height: 400px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.note .tools {
    background-color: #9ecB62;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

.note .tools button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    margin-left: 0.5rem;
}
.note .main {
    background-color: #eee;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.note textarea {
    font-family: inherit;
    font-size: 1.2rem;
    outline: none;
    border: none;
    width: 100%;
    height: 400px;
}
.editable {
    border: 1px solid #000; /* Example: Add a border to indicate edit mode */
    background-color: #fff; /* Example: Change the background color for edit mode */
}
.note .hidden{
    display: none;
}
  